{% extends 'layout/layout.html' %}
{% block content %}
<div class="container" style="margin-top:30px">
    {% if not info_amount %}
    <span style="color:red"> Please enter amount in account </span>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="box-name" placeholder="Box name">
            {% if info_name %}
            <span style="color:red"> {{info_name}}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="box-price" placeholder="Box price">
            {% if info_price %}
            <span style="color:red"> {{info_price}}</span>
            {% endif %}
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    </form>
    {% endif %}

</div>
{% endblock %}