{% extends 'layout/layout.html' %}
{% block content %}
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
      <h2>About Us</h2>
      <p> Thanks for your consideration </p>
      {% if user.is_authenticated %}
      <h3> All amount </h3>
      {% for account in accounts %}
       <div class="m-1">
         <span> {{forloop.counter}}. Amount: </span> ${{account.amount}}
       </div>
      {% endfor %}
      <h3 class="mt-3"> Boxes </h3>
      <div class="row">
        {% for box in boxes %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="box-name">
                    {{box.name}}
                </div>
              Box name: <span style="color:#1d79dc"> {{box.name}} </span>,  Box price: <span style="color:#c14949"> ${{box.price}} </span>
            </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  </div>
</div>
<style>
.thumbnail {
    position: relative;
    margin-bottom: 20px;
    border: #9453b7 1px solid;
    padding: 10px;
    border-radius: 10px;
    background: #eef9f5;
}
.thumbnail:hover{
  background:#ffe0c7;
  cursor:pointer;
}
.thumbnail .box-name{
    text-align:center;
    font-size: 30px;
}
</style>
{% endblock %}