{% extends 'layout/layout.html' %}
{% block content %}
<div class="container p-5">
    {% if amount %}
    <div class="warning">  Amount: <span style="color:red"> ${{amount}} </span> </div>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="amount" placeholder="Amount">
            {% if info %}
            <span style="color:red"> {{info}}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}