{% extends 'layout/layout.html' %}
{% block content %}
<div class="container p-5">
    {% if amount %}
    <h4> Amount: </h4>
    <div class="ml-3">
        <span style="color:red"> ${{amount}} </span>
    </div>
    <br>
    <h4> Boxes: </h4>
    <div class="ml-3">
    {% if boxes.count == 0 %}
        <span style="color:#c14949"> No boxes </span>
    {% endif %}
    {% for box in boxes %}
        <div> {{forloop.counter}}.  {{box.name}} : <span style="color:#c14949"> ${{box.price}} </span> </div>
    {% endfor %}
    </div>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="amount" placeholder="Amount">
            {% if info %}
            <span style="color:red"> {{info}}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}