{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>MysteryBrand</title>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Mystery Brand</h1>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">Sign Up</a>
      </li>
      {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/mainApps/account/">Acount</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/mainApps/box">Add Box</a>
      </li>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/auth/logout/">Log out(<span style="color:red">{{user.email}}</span>)</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Links -->
    <hr>
    <!-- Call to action -->
    {% if not user.is_authenticated %}
     <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="/auth/signup" class="btn btn-danger btn-rounded">Sign up!</a>
      </li>
     </ul>
    {% endif %}

    <!-- Call to action -->
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mysterybrand.net"> Mystery Brand </a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>